 .image {
    margin-top: 50px;
    margin-left: 440px;
     width: 500px;
     height: 500px;
 }

 .contenir {
     position: relative;
     width: 500px;
 }

 .bouton {
     top: 105px;
     left: 600px;
     position: absolute;
     color: white;
     text-align: center;
     z-index: 10;
     font-size: 1.5em;
     background-color:teal;
     animation: clignoter 1s infinite;
     border: solid 1px;
     border-radius: 6px;
 }
  @keyframes clignoter{
    0% ,50% ,10%{ opacity: 1;}
     25% ,75% { opacity: 0;}
 }
